<div class="row">
  <div class="col">
    <form [formGroup]="form" class="jumbotron">
      <h2>Team details</h2>
      <div class="form-group">
        <label for="id">id</label>
        <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly>
      </div>
      <div class="form-group">
        <label for="name">name</label>
        <input type="text" class="form-control" id="name" name="name" formControlName="name" [readOnly]="httpService.getRole() !== 'Admin'">
      </div>
      <div class="form-group">
        <label for="description">description</label>
        <textarea rows="6" class="form-control" id="description" name="description" [readOnly]="httpService.getRole() !== 'Admin'"
                  formControlName="description"></textarea>
      </div>
      <div class="row" *ngIf="httpService.getRole() === 'Admin'">
        <div class="col-auto">
          <button class="btn btn-warning" type="button"
                  (click)="onUpdateOrCreate()">{{ teamId === 'new' ? 'Create' : 'Update'}}</button>
        </div>
        <div class="col-auto">
          <button  class="btn btn-danger" type="button" [disabled]="teamId === 'new'" (click)="onDelete()">Delete
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<ng-container *ngIf="teamId !== 'new'">

  <hr>

  <h2>DataSources<button *ngIf="httpService.getRole() !== 'User'" class="btn btn-success ml-5" [routerLink]="['dataSources', 'new']">New DataSource</button></h2>
  <div class="row">
    <div class="col">
      <table class="table table-hover table-bordered ">
        <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">name</th>
          <th scope="col">UUID</th>
          <th *ngIf="httpService.getRole() !== 'User'" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let dataSource of team.dataSources">
          <th class="btn-link" [routerLink]="['dataSources',dataSource.id]" scope="row">{{ dataSource.id }}</th>
          <td class="btn-link" [routerLink]="['dataSources',dataSource.id]">{{ dataSource.name }}</td>
          <td class="btn-link" [routerLink]="['dataSources',dataSource.id]">{{ dataSource.uuid }}</td>
          <td *ngIf="httpService.getRole() !== 'User'">
            <button class="btn btn-danger" type="button" (click)="onDeleteDataSource(dataSource)">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <hr>
</ng-container>

